<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register pacient</title>
</head>
<body>
    <div class="container">
        <form>
          <h2>Registro</h2>
          <div class="form-control">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
          </div>
          <div class="form-control">
            <label for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
          </div>
          <div class="form-control">
            <label for="numero-carnet">Número de Carnet:</label>
            <input type="text" id="numero-carnet" name="numero-carnet" required>
          </div>
          <div class="form-control">
            <label for="direccion">Dirección de domicilio:</label>
            <input type="text" id="direccion" name="direccion" required>
          </div>
          <div class="form-control">
            <label for="telefono">Número de teléfono:</label>
            <input type="text" id="telefono" name="telefono" required>
          </div>
          <div class="form-control">
            <label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto" required>
          </div>
          <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-control">
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
          </div>
          <div class="form-control">
            <label for="confirmar-contrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>
          </div>
            <button type="submit" class="button">Ingresar</button>
        </form>
    </div>      
  </body>
</html>