<!DOCTYPE html>
<html>
<head>
  <title>My Appointments</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div class="container">
    <h1>My Appointments</h1>
    <a href="#" class="register-button">Register Appointment</a>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Hour</th>
          <th>Description</th>
          <th>Nombre de usuario</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2023-05-01</td>
          <td>10:00 AM</td>
          <td>Consultation with Dr. Smith</td>
          <td>MarcK Siu</td>
          
          <td>
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>2023-05-15</td>
          <td>2:30 PM</td>
          <td>Check-up with Nurse Johnson</td>
          <td>Leo Smith</td>
          <td>
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>2023-06-05</td>
          <td>9:15 AM</td>
          <td>X-ray exam</td>
          <td>Tomas Tables</td>
          <td>
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>2023-06-20</td>
          <td>11:00 AM</td>
          <td>Blood test</td>
          <td>Ruben Aguirre</td>
          <td>
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>2023-07-10</td>
          <td>3:45 PM</td>
          <td>Physical therapy session</td>
          <td>John Doe</td>
          <td>
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </div>
</body>
</html>